protected net.minecraft.world.entity.Entity m_20272_(Lnet/minecraft/world/phys/Vec3;)Lnet/minecraft/world/phys/Vec3;

# Makes some EntityType fields public to allow our compartment builder to reference it
public net.minecraft.world.entity.EntityType f_20542_
public net.minecraft.world.entity.EntityType f_20543_

# Allows us to use the EntityType Builder super constructor
protected net.minecraft.world.entity.EntityType$Builder <init>(Lnet/minecraft/world/entity/EntityType$EntityFactory;Lnet/minecraft/world/entity/MobCategory;)V
# Makes all the vanilla EntityType Builder fields protected so we don't have to duplicate all the fields
protected net.minecraft.world.entity.EntityType$Builder f_20685_ #factory
protected net.minecraft.world.entity.EntityType$Builder f_20686_ #category
protected net.minecraft.world.entity.EntityType$Builder f_20687_ #immuneTo
protected net.minecraft.world.entity.EntityType$Builder f_20688_ #serialize
protected net.minecraft.world.entity.EntityType$Builder f_20689_ #summon
protected net.minecraft.world.entity.EntityType$Builder f_20690_ #fireImmune
protected net.minecraft.world.entity.EntityType$Builder f_20691_ #canSpawnFarFromPlayer
protected net.minecraft.world.entity.EntityType$Builder f_20692_ #clientTrackingRange
protected net.minecraft.world.entity.EntityType$Builder f_20693_ #updateInterval
protected net.minecraft.world.entity.EntityType$Builder f_20694_ #dimensions
protected net.minecraft.world.entity.EntityType$Builder f_244453_ #requiredFeatures